
__pycache__/

.venv/

.ipynb_checkpoints/

DriveOutput/

DrivePositioning/

LoadPinLog/

LSTDriveLog/

prueba/

.DS_Store

AntonioTest.py

DisplayLoadPinDay.sh

DisplayLoadPinMin.sh

DisplayLoadPinQuart.sh

DisplayLoadPins.py

DisplayTrack.code-workspace

DisplayTrackCurrent.sh

LibDisplayTrack.py

LibDisplayTrack.py.old

ListRunFromDriveLog.py

ListRunFromDriveLog.sh

ListRunFromDriveLogDate.py

runalldate.sh

runalldate2.sh

Untitled.ipynb

Untitled1.ipynb

DriveMonitoringApp/DataStorage/static/img/Log_cmd.2024-02-01/GoToPos/

DriveMonitoringApp/DataStorage/static/img/Log_cmd.2024-02-01/Parkin/

DriveMonitoringApp/DataStorage/static/img/Log_cmd.2024-02-01/Parkout/

DriveMonitoringApp/DataStorage/static/img/Log_cmd.2024-02-01/Track/

DriveMonitoringApp/DataStorage/static/html

Accuracy_log_20240204.txt

BendingModelCorrection_log_20240204.txt

cmd.2024-02-04

DrivePosition_log_20240204.txt

loadpin_log_24_02_04.txt

R_loadpin_log_24_02_04.txt

Torque_log_20240204.txt

Track_log_20240204.txt

Accuracy_log_20240207.txt

Accuracy_log_20240208.txt

Accuracy_log_20240209.txt

BendingModelCorrection_log_20240207.txt

BendingModelCorrection_log_20240208.txt

BendingModelCorrection_log_20240209.txt

cmd.2024-02-07

cmd.2024-02-08

cmd.2024-02-09

DrivePosition_log_20240207.txt

DrivePosition_log_20240208.txt

DrivePosition_log_20240209.txt

loadpin_log_24_02_07.txt

loadpin_log_24_02_08.txt

loadpin_log_24_02_09.txt

R_loadpin_log_24_02_07.txt

R_loadpin_log_24_02_08.txt

R_loadpin_log_24_02_09.txt

Torque_log_20240207.txt

Torque_log_20240208.txt

Torque_log_20240209.txt

Track_log_20240207.txt

Track_log_20240208.txt

Track_log_20240209.txt

DriveMonitoringWeb/
