__pycache__

*/__pycache__/
*/*/__pycache__

.venv/

.ipynb_checkpoints/

DriveOutput/

DrivePositioning/

LoadPinLog/

LSTDriveLog/

prueba/

.DS_Store

AntonioTest.py

DisplayLoadPinDay.sh

DisplayLoadPinMin.sh

DisplayLoadPinQuart.sh

DisplayLoadPins.py

DisplayTrack.code-workspace

DisplayTrackCurrent.sh

LibDisplayTrack.py

LibDisplayTrack.py.old

ListRunFromDriveLog.py

ListRunFromDriveLog.sh

ListRunFromDriveLogDate.py

runalldate.sh

runalldate2.sh

Untitled.ipynb

Untitled1.ipynb

DriveMonitoringApp/DataStorage/static/img/Log_cmd.2024-02-01/GoToPos/

DriveMonitoringApp/DataStorage/static/img/Log_cmd.2024-02-01/Parkin/

DriveMonitoringApp/DataStorage/static/img/Log_cmd.2024-02-01/Parkout/

DriveMonitoringApp/DataStorage/static/img/Log_cmd.2024-02-01/Track/

DriveMonitoringApp/DataStorage/static/html

*.txt
cmd.*

DriveMonitoringWeb/

*/__pycache__


mongodb

Accuracy_log_20240214.txt

BendingModelCorrection_log_20240214.txt

