{% extends "storage/base.html" %}

{% block title %} LST1-LP-{{data.0}} {% endblock %}
{% block menu %} 
    <header class="w-full h-[5rem] flex flex-col lg:justify-center justify-start items-center mb-3 border-b-2 pb-4">
        <nav class="flex gap-x-3 absolute left-10 top-15">
            <a class="driveMonitoring rounded-lg p-3 hover:border-black/50 border-grey-800 font-semibold border-[0.25rem]" href="{% url 'driveMonitoring' %}">Drive Monitoring</a>
            <a class="loadPins rounded-lg p-3 hover:border-[#5298DE] border-[#325D88] font-semibold border-[0.25rem]" href="{% url 'loadPins' %}">Load Pin Monitoring</a>
        </nav>
        <h1 class="title font-semibold text-5xl mb-1 text-[#3e3f3a]">LST-1 Load Pin Monitoring</h1>
        <div class="dateInput">
            <label for="date" class="subtitle text-xl text-[#3e3f3a]">Date:</label>
            <input class="input" type="date" name="date" id="date" value="{{data.0}}">
        </div>
        {% load static %}
        <img class="w-[12rem] h-[4rem] absolute right-10 top-5" src="{% static 'img/logoCTA.png'%}" alt="Cherenkov Telescopes Array logo">
    </header>
{% endblock %}
{% block content %} 
    {% if data %}
        <div class="plotsArea w-full self-center flex flex-col gap-y-3"></div>
    {% endif %}
{% endblock %}